h1{
    text-align: center;
    margin: 30px;
    color:rgb(214, 41, 107);
    
}
h3{
    font-weight: bold;
    color:rgb(214, 41, 107);
    text-align: center;
}
*{
    font-family: 'Poppins', sans-serif;
}
#cv_img{
    float:right;
    border: 3px solid rgb(248, 219, 247);
    margin-right: 300px;
}

.area{
    font-weight:bold;
    padding: 10px;;
    margin-left: 40px;
    text-indent: 50px;
}
p{
    line-height: 200%;
    margin-left: 90px;
    text-align: justify;
}
ul{
    margin-left: 40px;
    line-height: 200%;
}